* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
  padding: 5px;

  color: #f0f0f0;
  background-color: black;
}

.category-buttons {
  margin: 10px 0;
  display: flex;
  overflow-x: hidden;
}

.category-buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #f0f0f0;
  border-radius: 5px;
  background-color: #434343;
}

.category-buttons button.active {
  background-color: #007bff;
  color: white;
}

.video-list {
  display: grid;
  grid-template-columns: 1fr;

  margin: 1px;
  gap: 20px;
}
p {
  font-size: 15px;
}
.video-item {
  border-radius: 10px;
  width: 100%;

  text-align: left;
}

.video {
  height: 250px;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 10px;
  background-color: #007bff;
}
p {
  color: #7f7d7d;
}
